<p id="notice"><%= notice %></p>

  <p>
    <h2><%= @user.username %></h2>
  </p>

  <% if @user.banned? %>
    <span class="label label-danger">Banned</span>
  <% end %>

  <p>
    <% if @user.ratings.empty? %>

        This user has not added any ratings!
    <% else %>
        has <%=@user.ratings.count%> <%="rating".pluralize(@user.ratings.count)%>, with an average of <%= @user.average_rating %>
    <% end %>
  </p>

<% if current_user and current_user.admin? %>
    <% unless @user.banned? %>
      <%= link_to "freeze account", toggle_activity_user_path(@user), method: :post, class: 'btn btn-danger btn-xs' %>
    <% else %>
      <%= link_to "activate account", toggle_activity_user_path(@user), method: :post, class: 'btn btn-success btn-xs' %>
    <% end %>
<% end %>

  <h3>Ratings</h3>
  <% if @user.ratings.any? %>
      <p>Favorite style <%= @user.favorite_style %></p>

      <p>Favorite brewery <%= @user.favorite_brewery.name %></p>
  <% end %>
  <ul>
    <% @user.ratings.each do |rating| %>
        <li><%= rating %>
          <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete,  data: { confirm: 'Are you sure?' } %></li>
          <% end %>
    <%end%>
  </ul>

<h3>Memberships</h3>
<ul>
  <% @user.memberships.each do |membership| %>
      <li><%= membership.club %>
        <% if @user == current_user %>
            <%= link_to 'delete', membership, method: :delete,  data: { confirm: 'Are you sure?' } %></li>
        <% end %>
  <%end%>
</ul>

<% if @user == current_user %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
