<h2>Ratings</h2>

<% cache 'ratingslist', expires_in:10.minutes do %>

<div class="row">
  <div class="col-md-4">
    <h3>Best beers</h3>
    <%= render 'list', entity: @best_beers %>
  </div>
  <div class="col-md-4">
    <h3>Best breweries</h3>
    <%= render 'list', entity: @best_breweries %>
  </div>
  <div class="col-md-4">
    <h3>Best styles</h3>
    <%= render 'list', entity: @best_styles %>
  </div>
</div>

<h3>Most active users</h3>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Favorite Beer</th>
    <th>Favorite Style</th>
    <th>Favorite Brewery</th>
    <th>Ratings</th>
  </tr>
  </thead>

  <tbody>
  <% @best_users.each do |e| %>
      <tr>
        <td><%= e %></td>
        <td><%= e.favorite_beer %></td>
        <td><%= e.favorite_style%></td>
        <td><%= e.favorite_brewery.to_s %></td>
        <td><%= e.ratings.count%></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>


<p>
  <% unless @ratings.all.empty? %>
  <h3>Recent ratings</h3>

<ul>
  <% Rating.recent.each do |rating| %>
    <li><%= rating %>, <%= link_to rating.user.to_s, rating.user %></li>
  <%end%>
</ul>
  <% end %>
</p>

<% end %>