<h1><%= @style %></h1>

<p><%= @style.description%></p>

<h2>Beers</h2>

<tbody>
<% @style.beers.each do |beer| %>
    <ul>
      <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
    </ul>
<% end %>
</tbody>

<%= edit_and_destroy_buttons(@style) %>