<% cache @brewery do %>

<h2><%= @brewery.name %>
  <% if not @brewery.active  %>
    <span class="label label-info">retired</span>
<% end %>
</h2>


<i> Established in <%= @brewery.year %></i>

<p>Beer products: <%= @brewery.beers.count %></p>

<p>
  <% @brewery.beers.each do |beer| %>
  <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if !@brewery.ratings.empty? %>
      Has <%=@brewery.ratings.count%> <%="rating".pluralize(@brewery.ratings.count)%>, average: <%= @brewery.average_rating %>
  <% end %>
</p>

<% end %>

<%= link_to 'Destroy', @brewery, class:'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_brewery_path(@brewery), class:'btn btn-primary btn-xs' %>